$colorStroke: #d8e0ea;
$colorWhite: #fff;
$colorSecond: #54657a;
$colorMain: #0080dd;
$colorSecondary: #2f80ed;
$colorMainDisable: #67baf6;
$colorBg: #f6f7f9;
$colorDefault: #253036;
$colorGrey: #e8edf2;
$colorDone: #39cd74;
$colorOrange: #f2994a;
$colorRed: #f54b5e;
$colorPurple: #9b51e0;
$colorMellowGreen: #4bb6d8;
$colorGreen: #2ebb7b;
$colorSideBarBg: #001529;
$colorPink: #f32998;
$colorHeaderBg: #f2f6fe;
